# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
venv/
ENV/

# Database
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.bak
*.swp

# Node
node_modules/

# XAMPP
xampp/

# Others
*.egg-info/
